USE [master]
GO
/****** Object:  Database [LuckPerms]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE DATABASE [LuckPerms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuckPerms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LuckPerms.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LuckPerms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LuckPerms_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuckPerms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuckPerms]
GO
USE [LuckPerms]
GO
/****** Object:  User [luckPerms]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE USER [luckPerms] FOR LOGIN [luckPerms] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [luckPerms]
GO
/****** Object:  Table [dbo].[actions]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[time] [bigint] NOT NULL,
	[actor_uuid] [varchar](36) NOT NULL,
	[actor_name] [varchar](16) NOT NULL,
	[type] [char](1) NOT NULL,
	[acted_uuid] [varchar](36) NOT NULL,
	[acted_name] [varchar](36) NOT NULL,
	[action] [varchar](256) NOT NULL,
 CONSTRAINT [PK_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[group_permissions]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](36) NOT NULL,
	[permission] [varchar](200) NOT NULL,
	[value] [bit] NOT NULL,
	[server] [varchar](36) NOT NULL,
	[world] [varchar](36) NOT NULL,
	[expiry] [int] NOT NULL,
	[contexts] [varchar](200) NOT NULL,
 CONSTRAINT [PK_group_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[groups]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[name] [varchar](36) NOT NULL,
 CONSTRAINT [PK_groups] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[players]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[uuid] [varchar](36) NOT NULL,
	[username] [varchar](16) NOT NULL,
	[primary_group] [varchar](36) NOT NULL,
 CONSTRAINT [PK_players] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tracks]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracks](
	[name] [varchar](36) NOT NULL,
	[groups] [text] NOT NULL,
 CONSTRAINT [PK_tracks] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_permissions]    Script Date: 2/21/2017 12:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uuid] [varchar](36) NOT NULL,
	[permission] [varchar](200) NOT NULL,
	[value] [bit] NOT NULL,
	[server] [varchar](36) NOT NULL,
	[world] [varchar](36) NOT NULL,
	[expiry] [int] NOT NULL,
	[contexts] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [group_permissions_name]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE NONCLUSTERED INDEX [group_permissions_name] ON [dbo].[group_permissions]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [group_permissions_permission]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE NONCLUSTERED INDEX [group_permissions_permission] ON [dbo].[group_permissions]
(
	[permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [players_username]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE NONCLUSTERED INDEX [players_username] ON [dbo].[players]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [user_permission_uuid]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE NONCLUSTERED INDEX [user_permission_uuid] ON [dbo].[user_permissions]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [user_permissions_permission]    Script Date: 2/21/2017 12:03:20 AM ******/
CREATE NONCLUSTERED INDEX [user_permissions_permission] ON [dbo].[user_permissions]
(
	[permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user_permissions', @level2type=N'INDEX',@level2name=N'user_permission_uuid'
GO
USE [master]
GO
